[submodule "submodules/CIC"]
	path = submodules/CIC
	url = https://github.com/catkira/CIC
[submodule "submodules/LFSR"]
	path = submodules/LFSR
	url = https://github.com/catkira/LFSR
[submodule "submodules/FFT"]
	path = submodules/FFT
	url = https://github.com/catkira/FFT.git
[submodule "submodules/DDS"]
	path = submodules/DDS
	url = https://github.com/catkira/DDS.git
[submodule "submodules/complex_multiplier"]
	path = submodules/complex_multiplier
	url = https://github.com/catkira/complex_multiplier.git
[submodule "submodules/verilator-unisims"]
	path = submodules/verilator-unisims
	url = https://github.com/catkira/verilator-unisims.git
[submodule "submodules/verilog-axi"]
	path = submodules/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
[submodule "submodules/XilinxUnisimLibrary"]
	path = submodules/XilinxUnisimLibrary
	url = https://github.com/Xilinx/XilinxUnisimLibrary.git
