[submodule "submodules/CIC"]
	path = submodules/CIC
	url = https://github.com/catkira/CIC
[submodule "submodules/LFSR"]
	path = submodules/LFSR
	url = https://github.com/catkira/LFSR
[submodule "submodules/FFT"]
	path = submodules/FFT
	url = https://github.com/catkira/FFT.git
[submodule "submodules/DDS"]
	path = submodules/DDS
	url = https://github.com/catkira/DDS.git
[submodule "submodules/complex_multiplier"]
	path = submodules/complex_multiplier
	url = https://github.com/catkira/complex_multiplier.git
